h3{
  margin-right: 75%;
  margin-left: 2%;
}

div{
  border-color: rgb(47, 34, 231);
  border-width: 2px;
  border-style: solid;
  padding: 1em;
  margin-right: 10%;
  margin-left: 10%;
}
